importFrom("graphics", "abline", "arrows", "barplot", "legend", "par", "plot", 
           "points", "segments", "strheight", "strwidth", "symbols", "text", 
           "hist", "lines", "pairs", "grid", "rect", "axis")
importFrom("stats", "cor", "cov", "qchisq", "runif", "sd", "pchisq", "pf", "qf",
           "varimax", "cmdscale", "dist", "integrate", "prcomp", "rnorm", "as.dendrogram",
           "as.dist", "cutree", "hclust", "kmeans", "rect.hclust", "Box.test", 
           "bartlett.test", "pt", "qqline","qqnorm", "qt", "lm", "predict")
importFrom("MASS", "ginv", "lda", "qda")
importFrom("grDevices","dev.off","png", "dev.new", "xy.coords")
useDynLib(MVar.pt, .registration = TRUE)
exportPattern("^[^\\.]")

